{% extends 'index.html'%}
{% load static %}
{% load crispy_forms_tags %}



{% block acounts %}


<div class=" container signup-form">
	<h2>Set New Password</h2>
	{% if validlink %}
    <form  method="post">
    	{% csrf_token %}
        {{ form|crispy }}
		<button type="submit">Save</button>
		<a href="{% url 'login_url' %}" class="btn btn-link">Log In</a>
	</form>
	{% else %}
		<p style="color: red;">Invalid Token</p>
		<p>
			<a href="{% url 'password_reset' %}">Request a new password reset token </a>
		</p>
	{% endif %}
</div>

{% endblock %}



{% block header %} 
{% endblock %}




{% block welcome %}
{% endblock %}




{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}