{% extends 'index.html'%}
{% load static %}
{% load crispy_forms_tags %}



{% block acounts %}

<div class=" container signup-form">
	<h2>Reset Password</h2>
    <form  method="post">
    	{% csrf_token %}
        {{ form|crispy }}
		<a href="http://127.0.0.1:8000/accounts/accounts/reset/NQ/5ci-9feceaa4f29faf0b772d/" class="btn btn-link">Reset Now</a>
		<a href="{% url 'login_url' %}" class="btn btn-link">Log In</a>
	</form>
</div>

{% endblock %}



{% block header %} 
{% endblock %}




{% block welcome %}
{% endblock %}




{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}