{% extends 'index.html'%}
{% load static %}
{% load crispy_forms_tags %}



{% block acounts %}

<div class=" container signup-form">
	<h2>Password Changed Successfuly</h2>
	<p>
		Now get quick access , login again
	</p>
    <form  method="post">
    	{% csrf_token %}
        {{ form|crispy }}
		<a href="{% url 'login_url' %}" class="btn btn-link">Log In</a>
	</form>
</div>


{% endblock %}



{% block header %} 
{% endblock %}




{% block welcome %}
{% endblock %}




{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}
