{% extends 'index.html'%}
{% load static %}
{% load crispy_forms_tags %}



{% block acounts %}


<div class=" container signup-form">
	<h2>Reset Password</h2>
	<p>
		We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

		If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
	</p>
    <form  method="post">
    	{% csrf_token %}
        {{ form|crispy }}
		<a href="{% url 'login_url' %}" class="btn btn-link">Log In</a>
	</form>
</div>


{% endblock %}



{% block header %} 
{% endblock %}




{% block welcome %}
{% endblock %}




{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}
