

		.Pstyle{
			font-size:24px;
		}
		btn-lg{
			background-color: black;
		}

		#wrap{
			width: 1600px;
			margin: 20px auto 0;
			height: 800px;
		
		
		}

		h1{
			margin-bottom: 20px;
			text-align: center;
			font-size: 35px;
			font-family: tahoma;
			color: white;
		}

		#form-wrap{
			overflow: hidden;
			height: 447px;
			position: relative;
			transition: all 1s ease-in-out .3s;
		}

		#form-wrap:before{
			content: "";
			position: absolute;
			bottom: 128px;
			left: 0px;
			background:url('/static/images/before.png');
			width: 530px;
			height: 317px;
		}

		#form-wrap:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			background: url('/static/images/after.png');
			width: 530px;
			height: 259px;
		}

		#form-wrap.hide:after,
		#form-wrap.hide:before{
			display: none;
		}

		#from-wrap:hover{
			height: 777px;
			top:-200px;

		}

		.frmstyle{
			background: white;
			position: relative;
			top: 200px;
			overflow: hidden;
			height: 550px;
			width: 500px;
			margin: 0px auto;
			padding:20px;
			border:2px solid gray;
			border-right: 3px;
			transition: all 1s ease-in-out .3s;
		}

		#form-wrap:hover{
			height:850px;
		}

		.LbStyle{
			margin: 11px 20px 0 0;
			font-size: 15px;
			color: gray;
			text-transform: uppercase;
		}

		.inStyle[type=text], .txtareaStyle{
			font:14px normal uppercase, arial, serif;
			color: dimgray;
			background:none;
			width: 380px;
			height: 37px;
			padding:0px 10px;
			margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			border-radius: 5px;
		}

		.inStyle[type=email], .inStyle{
			font:14px normal uppercase, arial, serif;
			color: dimgray;
			background:none;
			width: 380px;
			height: 37px;
			padding:0px 10px;
			margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			border-radius: 5px;
		}
		.txtareaStyle{
			height: 80px;
			padding-top: 14px;
		}

		.txtareaStyle:focus,
		.inStyle[type=text]:focus{
			background-color: white;
		}




		.btonSend:hover{
			color: gray;
		}
