.txtera
{
	background-image: url('/static/images/7-picturr.png'), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
	height: 100vh;
	width: 150vh;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	z-index: -1;

}
.txtaraTiltle
{
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: 'Sofia', cursive;
	z-index: 2;

}
.timer
{
	width: 60%;
	height: auto;
	margin: auto;
	font-size: 30px;
	color: white;
	z-index: 2;
}

.boxText
{
	position: relative;
	width: 60%;
	height: 200px;
	border:2px solid black;
	background: rgba(0.3, 0.2, 0.3, 0.9);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border-radius: 10px;
	z-index: 2;

}
.boxTextBtnz
{
	position: relative;
	width: 60%;
	height: 100px;
	border:0.1px solid black;
	background: rgba(0, 6, 0.9, 0.3);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border-radius: 10px;
	z-index: 2;


}
.boxTextBtn
{
	position: relative;
	width: 60%;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
	

}
.col-md-6 .col-sm-12 .btun {
  position: absolute;
  top: 0;
  right: 0;
}
.textt
{
	width: 100%;
	height: 200px;
	outline: none;
	background-color: transparent;
	box-sizing: border-box;
	float: left;
	resize: none;
	padding:10px;
	font-family: Times New Roman;
	font-size: 20px; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: black;
}
.box1
{
	width: 60%;
	height: 100px;
	z-index: 2;
}

.box1 .one
{
	font-size: 22px;
	float: left;
	margin-left: 50px;
	color: white;
}
.box1 .two
{
	font-size: 22px;
	float: right;
	margin-right: 120px;
	color: black;
}



textarea:-ms-input-placeholder {color: #13e723}
textarea::-moz-placeholder {color: #13e723}
textarea::-webkit-input-placeholder {color: #13e723}

textarea:focus{2px solid #2d303a91}
textarea:focus,
textarea:hover{box-shadow:0px 0px 13px 0px #059403}






#testbutton {
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor:pointer;
  line-height:12px;
}

#testbutton:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

#testbutton:after {
  content:'CLICK ME!';
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:rgba(235,235,235,1);
  font-family:'Verdana';
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);
}