{% extends 'index.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block hlp%}
{% endblock %}

{% block dashboard %}
<br>
<br><br><br>
<br><br>
			<div class="container">
			<h1 align="center"><a href ="#">Different charts in one page</a></h1>
			<!--First chart-->
			<div class="row">
				<!--Second chart-->
					<div class="col-md-6 col-sm-12">
						<div id="Column" class="column" style="min-width: 400px; height: 400px; margin: 30 auto"></div>
					</div>
					<div class="col-md-6 col-sm-12">
					<div id="pie"  style="min-width: 300px; height: 300px; margin: 30 auto"></div>	
							
					</div>
			</div>
			<div class="row">
				<!--Second chart-->
					
					<div class="col-md-6 col-sm-12">
					<div id="VarChart" style="min-width: 300px; height: 300px; margin: 30 auto"></div>	
					
					</div>
					<div class="col-md-6 col-sm-12">
						<div id="Donut" style="min-width: 400px; height: 400px; margin: 30 auto"></div>
					</div>
			</div>

				<!--End of charts-->
		</div><!--for container div-->
	


{% endblock %}


{% block welcome %}
{% endblock %}


{% block featured_Album %}
{% endblock %}


{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}