{% extends 'index.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}


{% block header %}
{% endblock %}

{% block dashboard %}
<br><br><br><br>


<h2 class=" justify-content-center align-items-center " style="padding-left: 30%">Oooopss! No Internet Connection</h2>

    <h2 style="padding-top: 10%; padding-bottom: 0px;">
            <br>
    </h2>

      <div id="slider-main" style="padding-bottom: 30%;">
        <div id="slider-item">
          <img src="{% static 'images/8m.JPEG' %}" alt="">
          <img src="{% static 'images/2m.JPEG' %}" alt="">
          <img src="{% static 'images/3m.JPEG' %}" alt="">
          <img src="{% static 'images/4m.JPEG' %}" alt="">
          <img src="{% static 'images/5m.JPEG' %}" alt="">
          <img src="{% static 'images/6m.JPEG' %}" alt="">
          <img src="{% static 'images/7m.JPEG' %}" alt="">
          <img src="{% static 'images/8m.JPEG' %}" alt="">

          <!-==========Text=============-->
          <p>BeaPro</p>
        </div>
        <div id="ground"></div>
      </div>

  <div id="music-container">
    <audio src="media/demeo.mp3" autoplay></audio>
  </div>

{% endblock %}

{% block welcome %}
{% endblock %}


{% block featured_Album %}
{% endblock %}


{% block demo %}
{% endblock %}


{% block news %}
{% endblock %}


{% block recomendation %}
{% endblock %}


{% block Others %}
{% endblock %}


{% block footer %}
{% endblock %}